# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# dotenv environment variables file
.env*

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# vscode
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
# pubspec.lock # ignore for library/module packages
.packages
.pub-cache/
.pub/
/build/
doc/api/
app.*.symbols
app.*.map.json
*.dart.js
*.info.json
*.js.deps
*.js.map

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
